DATABASE_URL="postgresql://zephon:zephonpassword@localhost:5432/eventmakerdb?schema=public&connection_limit=5&connect_timeout=5&pool_timeout=10"
BCRYPT_SALT=10
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_REDIRECT_URI="http://localhost:3000/auth/google/callback"